<div class="container-service">
  <h3>Service selected:</h3>
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-card">
        <div class="card-service">
          <div class="card-service-activity">
            <h3> <%= @service.activity %> </h3>
          </div>
          <div class="card-service-picto">
            <%= image_tag "#{@service.activity.downcase}.png" %>
          </div>
        </div>
        <div class="card-service-details">
          <div class="card-service-agency">
            <div class="card-service-agency-text">
              <p>Operated by:</p>
            </div>
            <div class="card-service-agency-value">
              <%= link_to "#{@service.agency.brand}", agency_path(:"#{@service.agency.id}") %>
            </div>
          </div>
          <div class="card-service-price">
            <div class="card-service-price-text">
              <p>Hourly price:</p>
            </div>
            <div class="card-service-price-value">
              <%= @service.hourly_fee %>.- €
            </div>

          </div>
          <div class="card-service-description">
            <p>Description:</p>
            <p><%= @service.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="booking-form">
        <h3>Book this service !</h3>
        <%= simple_form_for([@service, @booking]) do |f| %>
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <%= f.input :date, as: :string, input_html: { class: 'datepicker' }%>
            <%= f.input :starting_time, as: :text, input_html: { class: 'timepicker' }%>
            <%= f.input :ending_time, as: :text, input_html: { class: 'timepicker' }%>
            <button class="btn btn-primary" id="booking-button">BOOK</button>
          </div>
        </div>

        <% end %>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-12">
      <div class="bottom-links">
        <%= link_to 'Home', root_path %> | <%= link_to 'Index-Services', agency_services_path(:agency_id) %>
      </div>
    </div>
  </div>
 </div>
</div>
