<div class="container-service">
  <div class="row">
      <h1>Service selected:</h1>
    <div class="col-xs-12 col-sm-6">
      <div class="wrapper-card">

        <div class="card-service">
          <div class="card-service-activity">
            <h3> <%= @service.activity %> </h3>
          </div>
          <div class="card-service-picto">
            <%= image_tag "#{@service.activity.downcase}.png" %>
          </div>
        </div>
        <div class="card-service-details">
          <div class="card-service-agency">
            <div class="card-service-agency-text">
              <p>Operated by:</p>
            </div>
            <div class="card-service-agency-value">
              <%= link_to "#{@service.agency.brand}", agency_path(agency_id: :"#{@service.agency.id}") %>
            </div>
          </div>
          <div class="card-service-price">
            <div class="card-service-price-text">
              <p>Hourly price:</p>
            </div>
            <div class="card-service-price-value">
              <%= @service.hourly_fee %>.- €
            </div>

          </div>
          <div class="card-service-description">
            <p>Description:</p>
            <p><%= @service.description %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="booking-form">
        <h3>Book this service !</h3>
        <%= simple_form_for([@service, @booking]) do |f| %>
          <%= f.input :date, as: :string, input_html: { class: 'datepicker' }%>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <%= f.input :starting_time, as: :text, input: { class: 'timepicker' }%>
          </div>
          <div class="col-xs-6 col-sm-3">
            <%= f.input :ending_time, as: :text, input: { class: 'timepicker' }%>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.button :submit, class: 'btn-primary' %>
          </div>
        </div>

        <% end %>
      </div>
      <div class="links">
        <%= link_to 'Home', root_path %> | <%= link_to 'Index-Services', agency_services_path(:agency_id) %>
      </div>
    </div>
  </div>

</div>
