<div class="container-employees">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= cl_image_tag image_path_for(@employee.user), width: 100, height: 100, crop: :fill, class: "avatar" %>
      <%= @employee.user.first_name %>
      <%= @employee.user.last_name %>
      <%= @employee.activity %>
      <%= @employee.contract %>
      <%= @employee.hired_date %>
      <%= @employee.hourly_rate %>
      <%= @employee.rib %>
    </div>
  </div>
</div>


