<div class="container-sign-up">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="wrapper-sign-up-form">
        <div class="sign-up-form">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">

              <div class="sign-up-form-part-1">
                <%= f.input :email, required: true, autofocus: true %>
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.input :password_confirmation, required: true %>
                  </div>
                </div>
              </div>
              <div class="sign-up-form-part-2">
                <%= f.input :user_type, collection: User::USER_TYPES %>
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.input :first_name, required: false %>
                  </div>
                  <div class="col-xs-6">
                   <%= f.input :last_name, required: false %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <%= f.input :phone, required: false %>
                  </div>
                  <div class="col-xs-6">
                    <%= f.input :mobile, required: false %>
                  </div>
                </div>
              </div>
              <div class="sign-up-form-part-3">
                <div class="row">
                  <div class="col-xs-3">
                    <%= f.input :st_number, required: false %>
                  </div>
                  <div class="col-xs-9">
                    <%= f.input :street, required: false %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <%= f.input :zip, required: false %>
                  </div>
                  <div class="col-xs-9">
                    <%= f.input :city, required: false %>
                  </div>
                </div>
                <%= f.input :building, required: false %>
                <div class="row">
                  <div class="col-xs-4 ">
                    <%= f.input :code, required: false %>
                  </div>
                  <div class="col-xs-4 ">
                    <%= f.input :floor, required: false %>
                  </div>
                  <div class="col-xs-4 ">
                    <%= f.input :lift, as: :boolean, placeholder:'true or false', label: 'lift' %>
                  </div>
                </div>
                <%= f.input :door, placeholder: '2nd door on the right', required: false %>
              </div>
              <%= f.input :comment, required: false %>
              <%= f.input :photo, as: :attachinary %>
              <%= f.input :capacity, collection: User::CAPACITIES, prompt: "Select your level" %>
            </div>
          </div>

          <div class="form-actions">
            <button action="submit" id="sign-up-button">SIGN UP</button>

          </div>
          <% end %>
          <br>
        </div>
        <div class="bottom-links">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
