<div class="container">
  <div class="sign-up-form">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="text-center">
          <h2>Please Sign-up</h2>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="sign-up-form-part-1">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>
            <div class="sign-up-form-part-2">
              <%= f.input :first_name, required: false %>
              <%= f.input :last_name, required: false %>
              <%= f.input :phone, required: false %>
              <%= f.input :mobile, required: false %>
            </div>
            <div class="sign-up-form-part-3">
              <%= f.input :st_number, required: false %><%= f.input :street, required: false %>
              <%= f.input :zip, required: false %><%= f.input :city, required: false %>
              <%= f.input :building, required: false %><%= f.input :code, required: false %>
              <%= f.input :floor, required: false %><%= f.input :lift, as: :boolean, placeholder:'true or false', label: 'lift' %>
              <%= f.input :door, required: false %>
            </div>
            <div class="sign-up-form-part-4">
              <%= f.input :comment, required: false %>
              <%= f.input :capacity, required: false %>

            </div>
          </div>
          <div class="form-actions">
            <div class="sign-up-form-part-5">
              <%= f.button :submit, "Sign up" %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>
</div>
