<div class="container-index-booking">

  <h3>Index Bookings </h3>

  <table id="table-index-booking">
    <thead>
      <tr>
        <th class="booking-created-at">MADE ON</th>
        <th class="booking-status">STATUS</th>
        <th class="booking-service">SERVICE</th>
        <th class="booking-date">DATE</th>
        <th class="booking-starting-time">FROM</th>
        <th class="booking-ending-time">TO</th>
        <th class="booking-user">CLIENT</th>
        <th class="booking-address">ADDRESS</th>
        <th class="booking-links">show|edit|delete</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr class="booking">
          <td><%= booking.created_at %></td>
          <td><%= booking.status %></td>
          <td><%= booking.service.activity %></td>
          <td><%= booking.date %></td>
          <td><%= booking.starting_time %></td>
          <td><%= booking.ending_time %></td>
          <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
          <td><%= booking.user.st_number %> <%= booking.user.street %> <%= booking.user.zip %> <%= booking.user.city %></td>
          <td><%= link_to 'show', booking_path(booking) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
