<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="agency-card">
        <%= @agency.brand %>
        <p>fondée en <%= @agency.created_date %></p>

        <%= @agency.owner %>
        <br>
        <%= @agency.director %>
        <br>
        <%= @agency.address %>
        <br>
        <%= @agency.phone %>
        <br>
        <%= @agency.contact_person %>
        <br>
        <%= @agency.mobile %>
        <br>
        <%= @agency.email %>
        <br>
        <%= @agency.description %>

      </div>
    </div>
  </div>
</div>
